<div class=" bg-gray-900 p-6 px-2">
    <div style="height: 26rem;" class=" sc2 flex flex-wrap m-2 items-center overflow-y-scroll justify-around">
        <div class="flex flex-col m-1 my-3" *ngFor="let video of publicVideos">
            <img src={{video?.snippet?.thumbnails?.medium?.url}} alt="" class=" w-64">
            <div class="my-2 flex justify-start">
                <div class="mr-2">
                    <img src={{video?.snippet?.thumbnails?.medium?.url}} alt="" class=" rounded-full w-8 h-8">
                </div>
                <div>
                    <p class="text-sm font-semibold my-1">{{video?.snippet?.title | slice:0:25}}...</p>
                    <p class="text-xs text-gray-300">
                        {{video?.snippet?.channelTitle}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>