<div class=" bg-gray-900  p-6 px-2">
    <div class=" flex flex-col md:flex-row flex-wrap m-2 items-center  justify-around">
        <div class="flex flex-col m-1 my-3" *ngFor="let video of publicVideos">
            <app-videos-displayer
                (clicker)="viewVideo(video?.id?.videoId,video?.snippet?.title,video?.snippet?.thumbnails?.medium?.url,video?.snippet?.channelTitle)"
                videoTitle="{{video?.snippet?.title}}" videoThumbnail="{{video?.snippet?.thumbnails?.medium?.url}}"
                channelTitle="{{video?.snippet?.channelTitle}}"></app-videos-displayer>
        </div>
    </div>
    <!-- <iframe width="480" height="270" src="//www.youtube.com/embed/lcSdR0GKbmI\" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe> -->
</div>