<div [ngClass]="darkMode === true ? ' bg-gray-800 text-white' : 'bg-white text-black'" class=" flex justify-center ">

    <div class="sidebar hidden md:block  mt-6 pl-2 px-6 py-2">
            <div class="sticky left-0 top-5">
            <div class="items-center flex flex-col">
                <fa-icon [icon]="Hamburger" class=" font-light  text-lg"></fa-icon>
            </div>
    
            <div class="mt-10">
                <div 
                [routerLink]="['/dashboard/gallery']"
                class="cursor-pointer items-center flex flex-col my-5">
                    <fa-icon [icon]="home" class=" font-light  text-lg"></fa-icon>
                    <p class="text-xs my-1">Home</p>
                </div>
    
                <div class="cursor-pointer items-center flex flex-col my-5">
                    <fa-icon [icon]="explore" class=" font-light  text-lg"></fa-icon>
                    <p class="text-xs my-1">Explore</p>
                </div>
                <div 
                [routerLink]="['/dashboard/shorts']"
                class="cursor-pointer items-center flex flex-col my-5">
                    <fa-icon [icon]="shorts" class=" font-light  text-lg"></fa-icon>
                    <p class="text-xs my-1">Shorts</p>
                </div>
    
                <div class="cursor-pointer items-center flex flex-col my-5">
                    <fa-icon [icon]="video" class=" font-light  text-lg"></fa-icon>
                    <p class="text-xs my-1">Subscriptions</p>
                </div>
    
                <div 
                [routerLink]="['/dashboard/library']"
                class="cursor-pointer items-center flex flex-col my-5">
                    <fa-icon [icon]="watching" class=" font-light  text-lg"></fa-icon>
                    <p class="text-xs my-1">Library</p>
                </div>
    
    
            </div>
        </div>
    </div>
    <div class="body py-2">
        <div class="sticky bg-gray-800 top-0">
            <header class="flex items-center py-1 justify-between border-b border-gray-700">
                <div class="logo w-[20%] md:auto">
                    <img src="assets/images/logo.png" alt="logo" class=" w-20 ">
                </div>
                <div class="search w-[80%] md:w-auto flex items-center h-fit justify-between  ">
                    <div class="bg-gray-700 border border-gray-700">
                        <div class="flex items-center justify-evenly">
                            <input #searchInput type="text" placeholder="Search" class="bg-gray-900 h-fit w-[80%] md:w-96 md:pl-2 md:py-2 p-2 md:p-6"><span
                        (click)="searchInputValue(searchInput.value)"
                            class="py-1 md:py-2 px-1 md:px-6">
                            <fa-icon  [icon]="search" class=" font-light text-sm md:text-md text-gray-300"></fa-icon>
                        </span>
                        </div>
                    </div>
                    <div (click)="startRecording()" class="mx-3 bg-gray-900 py-2 p-3 h-fit rounded-full">
                        <fa-icon [icon]="microphone" class="h-fit font-light text-sm md:text-lg text-gray-300"></fa-icon>
                    </div>
                </div>
                <div class="headerActions hidden md:flex items-center justify-between px-3">
                    <fa-icon  [icon]="video" class=" font-light mx-3 text-gray-300  text-xl"></fa-icon>
                    <fa-icon [icon]="bell" class=" font-light mx-3 text-gray-300 text-xl"></fa-icon>
                    <fa-icon [icon]="user" class=" font-light mx-3 text-gray-300 text-2xl"></fa-icon>
                </div>
            </header>
            <div class="flex border-b border-gray-700 p-2 px-3 items-center">
                <!-- <div class="px-5 p-2 backdrop-blur-md">
                    ←
                </div> -->
                <div class="categories  sc2 overflow-x-scroll ">
                    <div style="width: max-content;" class="flex items-center ">
                        <div *ngFor="let category of categories" class="mx-2 w-auto cursor-pointer">
                            <p (click)="sendCategories(category?.value)" class="bg-gray-700 border text-sm border-gray-500 p-2   rounded-full">{{category?.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<!-- voice activated absolute centered modal -->
<div class="fixed top-0 left-0 w-full h-full z-50" *ngIf="isUserSpeaking">
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
        <div class="bg-white w-96 h-96 rounded-lg flex flex-col items-center justify-center">
            <div class="flex items-center my-4 p-4 rounded-full justify-center beam">
                <fa-icon [icon]="microphone" class=" font-light  text-5xl text-green-500"></fa-icon>
            </div>
            <div class="flex items-center ny-4 justify-center">
                <p class="text-2xl font-bold">Listening...</p>
            </div>
            <div class="flex items-center my-4 justify-center">
                <p (click)="stopRecording()" class="text-sm cursor-pointer bg-red-600 text-white rounded-lg p-2 font-bold"> Stop Listenig</p>
            </div>
            <div class="flex items-center my-4 justify-center">
                <p class="text-sm  p-2 font-bold">{{speakingText}}</p>
            </div>


        </div>
    </div>