/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.sc2::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }
  .sc2::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .sc2::-webkit-scrollbar-thumb {
    background-color: #222526;
    border-radius: 10px;
  }
  .sc2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }