<!-- <div class=" bg-gray-900  p-6 px-2">
    <div class=" flex flex-wrap m-2 items-center  justify-around">
        <div class="flex flex-col m-1 my-3" *ngFor="let video of publicVideos"> -->
            <div (click)="onClick()">
                <img src={{_videoThumbnail}} alt="" class=" w-auto md:w-64 ">
                <div class="my-2 flex justify-start">
                    <div class="mr-2">
                        <img src={{_videoThumbnail}} alt="" class=" rounded-full  w-8 h-8">
                    </div>
                    <div>
                        <p class="text-sm font-semibold my-1">{{_videoTitle | slice:0:25}}...</p>
                        <p class="text-xs text-gray-300">
                            {{_channelTitle}}
                        </p>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div>
</div> -->